@keyframes show-panel-info {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes change-color {
    from {
        color: blue;
    }
    33%{
        color: green;
    }
    66%{
        color: violet;
    }
    
}

@keyframes flash-alarm {
    from{
        color: red;
    }
    30%{
        color: yellow;
    }
    70%{
        color: red;
    }
   
}
