@import './general.css';

#direct-panel {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

#panel-direct-basis {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
}



/* #direct-panel, .panel-direct-basis, .panel-direct-measurement, .panel-direct-result, .panel-direct-measurement {
    
    border: 2px outset #bab6b7;
    margin: 2px;
    
} */

/* #panel-direct-basis, #panel-direct-measurement, #panel-direct-result {
    flex: 1 1 auto;
} */

#panel-direct-measurement {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border-radius: 2px;

}

#panel-direct-result {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}



@media screen and (min-width: 768px) {

#direct-panel {
    flex-direction: row;
    height: 100%;
}

}