@import './general.css';

.panel-direct {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

.panel-direct-basis {
    display: flex;
    flex-direction: column;
    position: relative;
}


.panel-direct, .panel-direct-basis, .panel-direct-measurement, .panel-direct-result, .panel-direct-measurement {
    /* background-color: var(--container-bg-color); */
    border: 2px outset #bab6b7;
    margin: 2px;
    /* color: var(--text-color); */
}

.panel-direct-basis, .panel-direct-measurement, .panel-direct-result {
    flex: 1 1 auto;
}

.panel-direct-measurement {
    display: flex;
    flex-direction: column;
    border-radius: 2px;

}

.panel-direct-result {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 768px) {

.panel-direct {
    flex-direction: row;
    height: 100%;
}

}