* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    /* font-family: sans-serif, Verdana; */
}

:root {
    --panel-bg-color: #dfe4ea;
    /* --container-bg-color: #f1f2f6; */
    --container-bg-color: #89bf8d;
    --sidebar-bg-color: #f1f2a6;
    --text-color: #2f3542;
}

:root[theme='dark'] {
    --panel-bg-color: #2f3542;
    /* --container-bg-color: #57606f; */
    --container-bg-color: #89bf8d;
    --sidebar-bg-color: #666e7c;
    --text-color: #ced6e0;
}

body {
    height: 100vh;
    font-size: 0.7em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

input[type="text"] {
   /* border: 1px solid #cccccc; //цвет рамки
   border-radius: 3px; //закругление углов (общее)
   -webkit-border-radius: 3px; //закругление углов (Google Chrome)
   -moz-border-radius: 3px; //закругление углов (FireFox)
   -khtml-border-radius: 3px; //закругление углов (Safari)
   background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
   outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
   height: 24px; // высота на свое усмотрение
   width: 120px; // ширина на свое усмотрение
   color: #cccccc; //цвет шрифта в обычном состоянии */
   font-size: 1em;
   font-family: sans-serif, Tahoma;
}

.overlay {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Полупрозрачность */
    z-index: 999;
    display: none; /* Изначально скрытый */
}

#content {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--container-bg-color);
    border: 2px outset #bab6b7;
    margin: 2px;
    color: var(--text-color);
    flex: 1 1 12em;
    padding: 2px;
    overflow: auto;
}

.panel {
    background-color: var(--container-bg-color);
    border: 2px outset #bab6b7;
    margin: 2px;
    /* color: var(--text-color); */
}


.open {
    display: flex;
}

.toggle {
    z-index: 1000;
}

.pop-up {
    display: none;
    flex-direction: column;
    min-width: 90px;
    width: auto;
    height: 150px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 10px;
    background-color: var(--container-bg-color);
    border: 2px outset #bab6b7;
}

.frame {
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
    /* overflow: auto; */
}

.frame-label {
    margin: 2px;
    padding: 2px;
    border-bottom: 1px outset #bab6b7;
}

.frame-value {
    padding: 5px;
}

.panel-title {
    font-size: 1.2em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.panel-title {
    display: block;
    text-decoration: none;
}


.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    height: 50px;
    /* margin: 2px;
    border: 2px outset #bab6b7; */
}

.toolbar a {
    display: block;
    text-decoration: none;
}

.frame a {
    display: block;
    text-decoration: none;
}


.button {
    /* height: 40px; */
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    /* justify-content: center; */
    /* font-size: 1.4em; */
    color: blue;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.menu-item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

textarea {
    /* width: 500px; */
    margin: 10px;
    flex: 0 0 auto;
    height: 430px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    resize: none;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    body {
        height: 100vh;

    }

    #content {
        flex-direction: column;
        width: 65em;
        flex: 0 0 auto;
    }
    
}