@import './general.css';

#inverse-panel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90%;
    overflow: auto;
}

#panel-inverse-base, #panel-inverse-target, #panel-inverse-result {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

@media screen and (min-width: 768px) {

    #inverse-panel {
        flex-direction: row;
        height: 100%;
    }

}