@import './general.css';

.panel-inverse {
    display: flex;
    flex-direction: column;
    position: relative;
}

.panel-inverse-base, .panel-inverse-target, .panel-inverse-result, .panel-inverse {
    /* background-color: var(--container-bg-color); */
    border: 2px outset #bab6b7;
    margin: 2px;
    /* color: var(--text-color); */
}

.panel-inverse-base, .panel-inverse-target, .panel-inverse-result {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

@media screen and (min-width: 768px) {

    .panel-inverse {
        flex-direction: row;
        height: 100%;
    }

}