@import './general.css';

.toolbar a, #panel-points a {
    display: block;
    text-decoration: none;
}


#panel-points {
    display: flex;
    height: 100%;
    justify-content: safe center;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0.0;
    overflow: hidden;
    position: absolute;
    z-index: -1;    
}

#panel-points table {
    border: 2px outset #bab6b7;
    flex: 0 0 auto;
}

.table-points th {
    font-weight: 400;
    text-align: center;
}

#scrollpanel-points {
    height: 80vh;
    overflow: auto;
}
