@import './potenot.css';

.button-points {
    /* height: 40px; */
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    /* justify-content: center; */
    /* font-size: 1.4em; */
    color: blue;
}

.button-points:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.panel-points, .scrollpanel-points {
    /* background-color: var(--container-bg-color); */
    border: 2px outset #bab6b7;
    margin: 2px;
    /* color: var(--text-color); */
}

.panel-points {
    display: flex;
    height: 100%;
    justify-content: safe center;
}

.button input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0.0;
    overflow: hidden;
    position: absolute;
    z-index: -1;    
}


.panel-points table {
    border: 2px outset #bab6b7;
    flex: 0 0 auto;
}

.table-points th {
    text-align: center;
}

.scrollpanel-points {
    /* display: flex; */
    /* justify-content: safe center; */
    height: 80vh;
    /* flex: 0 0 auto; */
    overflow: auto;
}
