@import './general.css';
@import './survey.css';

#toolbar-polygon input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0.0;
    overflow: hidden;
    position: absolute;
    z-index: -1;    
}

#toolbar-polygon {
    position: relative;
}

#panel-polygon {
    /* background-color: yellow; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: safe center;
    height: auto;
}

#scrollpanel-polygon {
    /* background-color: aqua; */
    /* display: flex; */
    height: 20em;
    /* flex: 1 1 auto; */
    overflow: auto;
    /* justify-content: safe center; */
}

.table-polygon {
    border: 2px outset #bab6b7;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table-polygon th {
    text-align: center;
    font-weight: 400;
    /* font-size: 0.9em; */
}

.table-polygon th span {
    font-size: 0.8em;
    font-style: normal;
}

.table-cell {
    display: flex;
    width: 50px;
    justify-content: center;
}

.line-shift {
    padding-top: 22px;
}

.line {
    padding-bottom: 22px;
}

/* .selected {
border: 2px solid red;
} */

#panel-polygon-processing {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    height: 60em;
    flex: 1 1 auto;
    padding: 10px;
}

#panel-polygon-residuals {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: auto;
    height: 50%;
    overflow: auto;
}

.row-residual {
    display: flex;
    flex-direction: row;
}

.row-residual :first-child {
    display: flex;
    font-size: 1.2em;
    padding: 5px;
    width: 10em;
    flex: 0 0 auto;
    text-align: right;
}

.row-residual :last-child {
    font-size: 1.2em;
    padding: 5px;
    padding-left: 20px;
    width: auto;
    text-align: left;
    flex: 1 1 auto;
}

#panel-polygon-plan {
    /* background-color: green; */
    display: flex;
    width: auto;
    height: 50%;
}

/* .panel-polygon, .panel-polygon-plan, .panel-polygon-processing, .panel-polygon-residuals, .scrollpanel-polygon {
 
    border: 2px outset #bab6b7;
    margin: 2px;
 
} */


@media screen and (min-width: 768px) {

    #panel-polygon {
        display: flex;
        width: 100%;
        height: 40em;
        flex: 0 0 auto;
    }

    #scrollpanel-polygon {
        /* display: flex; */
        height: auto;
        overflow: auto;
    }

    #panel-polygon-processing {
        display: flex;
        flex-direction: row;
        height: auto;
        flex: 1 1 auto;        
    }

    #panel-polygon-residuals {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;
    }

    #panel-polygon-plan {
        display: flex;
        width: 60%;
        height: auto;
    }
    
}