* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --panel-bg-color: #dfe4ea;
    /* --container-bg-color: #f1f2f6; */
    --container-bg-color: #89bf8d;
    --sidebar-bg-color: #f1f2a6;
    --text-color: #2f3542;
}

:root[theme='dark'] {
    --panel-bg-color: #2f3542;
    /* --container-bg-color: #57606f; */
    --container-bg-color: #89bf8d;
    --sidebar-bg-color: #666e7c;
    --text-color: #ced6e0;
}

body {
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--container-bg-color);
    border: 2px outset #bab6b7;
    margin: 2px;
    color: var(--text-color);
    flex: 1 1 12em;
    padding: 2px;
}

.panel-potenot {
    display: flex;
    flex-direction: column;
}

.panel-potenot-basis, .panel-potenot-result {
    display: flex;
    flex-direction: column;
}

.panel-potenot, .panel-potenot-basis, .panel-potenot-result {
    /* background-color: var(--container-bg-color); */
    border: 2px outset #bab6b7;
    margin: 2px;
    /* color: var(--text-color); */
}

.panel-potenot, .panel-potenot-basis, .panel-potenot-result {
    flex: 1 1 auto;
}

.frame {
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}

.frame-label {
    margin: 2px;
    padding: 2px;
    border-bottom: 1px outset #bab6b7;
}

.frame-value {
    padding: 5px;
}

.panel-title {
    font-size: 1.2em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    height: 50px;
    margin: 2px;
    border: 2px outset #bab6b7;
}

.button {
    /* height: 40px; */
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    /* justify-content: center; */
    /* font-size: 1.4em; */
    color: blue;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    body {
        height: 100vh;

    }

    .content {
        flex-direction: column;
        flex: 1 1 80%;
    }

    .panel-potenot {
        flex-direction: row;
        height: 100%;
    }

}