@import './general.css';

.panel-potenot {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

.panel-potenot-basis, .panel-potenot-result {
    display: flex;
    flex-direction: column;
}

.panel-potenot-basis {
    position: relative;
}

.panel-potenot, .panel-potenot-basis, .panel-potenot-result {
    /* background-color: var(--container-bg-color); */
    border: 2px outset #bab6b7;
    margin: 2px;
    /* color: var(--text-color); */
}

.panel-potenot-basis, .panel-potenot-result {
    flex: 1 1 auto;
}

@media screen and (min-width: 768px) {

    .panel-potenot {
        flex-direction: row;
        height: 100%;
    }

}