@import './general.css';

#potenot-panel {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

#panel-potenot-basis, #panel-potenot-result {
    display: flex;
    flex-direction: column;
}

#panel-potenot-basis {
    position: relative;
    flex: 1 1 auto;
}


#panel-potenot-result {
    flex: 1 1 auto;
}

@media screen and (min-width: 768px) {

    #potenot-panel {
        flex-direction: row;
        height: 100%;
    }

}