@import "./general.css";

#panel-processing-report {
    background-color: var(--container-bg-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    height: 500px;
}

#panel-survey-tah-report {
    background-color: var(--container-bg-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: auto;
    height: auto;
}

#panel-survey-report {
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    height: 500px;
}

#panel-tah-report {
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: auto;
    height: 500px;
}

@media screen and (min-width: 768px) {
    #panel-survey-tah-report {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
    }

    #panel-survey-report {
        width: 40%;
        flex: 0 0 auto;
        height: auto;
    }

    #panel-tah-report {
        width: 60%;
        flex: 0 0 auto;
        height: auto;
    }    
}