@import './general.css';
@import './direct.css';
@import './inverse.css';
@import './potenot.css';
@import './survey.css';
@import './points.css';
@import './polygon.css';
@import './report-polygon.css';
@import './report-survey.css';
@import './report-extract.css';

.header {
    display: flex;
    flex-direction: column;
    /* justify-content: safe space-between; */
}

.header a, .nav a {
    display: block;
    text-decoration: none;
}


.title {
    display: flex;
    flex-direction: row;
    width: auto;
    /* position: relative; */
}

.title > .menu-item {
    padding: 10px;
    flex: 0 0 auto;
    font-size: 1.1em;
    font-weight: bold;
    border-style: none;
}

.title .separator {
    display: flex;
    flex: 1 1 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: safe center;
    font-size: 1.1em;

}


#icon-menu {
    display: flex;
    font-size: 1.5em;

}

@keyframes changeColor {
    from {
        color: blue;
    }
    33%{
        color: green;
    }
    66%{
        color: violet;
    }
    
}

.logo {
    padding: 10px;
    flex: 0 0 auto;
    font-size: 1.1em;
    font-weight: bold;
    border-style: none;
    color: blue;
    animation: changeColor 2s ease infinite;

}


.main-menu {
    display: none;
    flex: 1 1 auto;
    flex-direction: column;

}

.main-menu > .menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 0px;
    margin-right: 0px;
}


.open {
    display: flex;
}


.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.nav {
    order: 3;
}

.content {
    order: 2;
}

.sidebar {
    order: 4;
}

.nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 2px;
    bottom: 0;
    right: 0;
    left: 0;
}

/* .nav, .sidebar {
    flex: 1 1 auto;
} */

.nav .menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1 1 auto;
    justify-content: safe space-between;
    margin-left: 2px;
    font-size: 0.7em;
    color: blue;
    border: 1px outset #333;
    border-radius: 10px;
    text-align: center;
}

.nav :last-child {
    margin-right: 2px;
}

/* .panel-survey {
    display: flex;
    flex-direction: column;
} */

/* table > caption {
    text-align: center;
} */


#main-title {
    /* width: 50em; */
    /* flex: 0 0 auto; */
    font-size: 1.4em;
}


#panel-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    /* padding: 10px; */
}

.main-banner {
    width: 300px;
    height: 200px;
    flex: 0 0 auto;
    align-content: safe space-around;
    border: 2px outset black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.nav, .sidebar {
    flex: 1;
    background-color: var(--sidebar-bg-color);
    color: var(--text-color);
}

.header, .footer {
    flex: 0 0 5em;
    background-color: var(--panel-bg-color);
    color: var(--text-color);
    counter-reset: var(--text-color);
}

.footer, .sidebar {
    display: none;
}

@media screen and (min-width: 768px) {

        .header {
        display: flex;
        flex-direction: row;
    }

        .footer, .sidebar {
        display: flex;
    }

    .main {
        flex-direction: row;
        height: 100%;
        flex: 1 1 auto;
    }


    .nav {
        flex-direction: column;
        order: 1;
        flex: 0 0 auto;
    }

    #content {
        order: 2;
        /* width: auto; */
        /* flex: 0 0 auto; */
    }

    .sidebar {
        order: 4;
        flex: 1 1 auto;
    }

    /* #panel-main { */
        /* flex-direction: column; */
        /* width: 50em; */
        /* flex: 0 0 auto; */
    /* } */

    .nav {
        position: static;
    }

    .nav .menu-item {
        flex: none;
        width: auto;
        justify-content: safe start;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1em;
        color: blue;
        border: 1px outset #333;
        border-radius: 10px;
        text-align: center;
    }

    .title {
        display: flex;
        flex-direction: row;
    }

    #main-title {
        width: auto;
        flex: 0 0 auto;
        font-size: 1.4em;
    }

    #panel-main {
        width: auto;
        flex: 0 0 auto;
        font-size: 1.4em;
    }


    .title > .menu-item {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        flex: 0 0 auto;
        font-size: 1.1em;
        font-weight: bold;
        border-style: none;
        margin-right: 40px;
    }

    #title-separator {
        display: none;
    }

    #icon-menu {
        display: none !important;
    }

    .main-menu {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: end;
    }

    .main-menu > .menu-item {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        border: 1px outset #333;
        border-radius: 10px;        
    }



    .nav {
    min-width: 10em;
    }

}