@import './direct.css';
@import './inverse.css';
@import './potenot.css';
@import './survey.css';
@import './points.css';

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --panel-bg-color: #dfe4ea;
    /* --container-bg-color: #f1f2f6; */
    --container-bg-color: #89bf8d;
    --sidebar-bg-color: #f1f2a6;
    --text-color: #2f3542;
}

:root[theme='dark'] {
    --panel-bg-color: #2f3542;
    /* --container-bg-color: #57606f; */
    --container-bg-color: #89bf8d;
    --sidebar-bg-color: #666e7c;
    --text-color: #ced6e0;
}

body {
    height: 100vh;
    font-size: 1.1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    /* justify-content: safe space-between; */
}

.title {
    display: flex;
    flex-direction: row;
    width: auto;
    /* position: relative; */
}

.title > .menu-item {
    padding: 10px;
    flex: 0 0 auto;
    font-size: 1.1em;
    font-weight: bold;
    border-style: none;
}

.title .separator {
    display: flex;
    flex: 1 1 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: safe center;
    font-size: 1.1em;

}

.overlay {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Полупрозрачность */
    z-index: 999;
    display: none; /* Изначально скрытый */
}

#icon-menu {
    display: flex;
    font-size: 1.5em;

}

@keyframes changeColor {
    from {
        color: blue;
    }
    33%{
        color: green;
    }
    66%{
        color: violet;
    }
    
}

.logo {
    padding: 10px;
    flex: 0 0 auto;
    font-size: 1.1em;
    font-weight: bold;
    border-style: none;
    color: blue;
    animation: changeColor 2s ease infinite;

}


.main-menu {
    display: none;
    flex: 1 1 auto;
    flex-direction: column;

}

.main-menu > .menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 0px;
    margin-right: 0px;
}


.open {
    display: flex;
}


.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

    .nav {
        order: 3;
    }

    .content {
        order: 2;
    }

    .sidebar {
        order: 4;
    }

.nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.nav, .sidebar {
    flex: 1 1 auto;
}

.sidebar, 

.nav .menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1 1 18%;
    justify-content: safe space-between;
    padding-left: 2px;
    font-size: 0.7em;
    color: blue;
    border: 1px outset #333;
    border-radius: 5px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--container-bg-color);
    border: 2px outset #bab6b7;
    margin: 2px;
    color: var(--text-color);
    flex: 1 1 12em;
    padding: 2px;
}

.panel-survey {
    display: flex;
    flex-direction: column;
}

table > caption {
    text-align: center;
}

.panel-main, .main-title {
    /* background-color: var(--container-bg-color); */
    border: 2px outset #bab6b7;
    margin: 2px;
    /* color: var(--text-color); */
}

.main-title {
    font-size: 1.4em;
}

.panel-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    /* padding: 10px; */
}

.main-banner {
    width: 300px;
    height: 200px;
    flex: 0 0 auto;
    align-content: safe space-around;
    border: 2px outset black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


.menu-item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.nav, .sidebar {
    flex: 1;
    background-color: var(--sidebar-bg-color);
    color: var(--text-color);
}

.header, .footer {
    flex: 0 0 5em;
    background-color: var(--panel-bg-color);
    color: var(--text-color);
    counter-reset: var(--text-color);
}

.footer, .sidebar {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        height: 100vh;

    }

        .header {
        display: flex;
        flex-direction: row;
    }

        .footer, .sidebar {
        display: flex;
    }

    .main {
        flex-direction: row;
        height: 100%;
        flex: 1 1 auto;
    }


    .nav {
        flex-direction: column;
        order: 1;
    }

    .content {
        order: 2;
    }

    .sidebar {
        order: 4;
    }

    .nav {
        position: static;
    }

    .nav .menu-item {
        flex: none;
        width: auto;
        justify-content: safe start;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1em;
        color: blue;
        border: 1px outset #333;
        border-radius: 5px;
        text-align: center;
    }

    .title {
        display: flex;
        flex-direction: row;
    }

    .title .separator {
        display: none;
    }

    #icon-menu {
        display: none;
    }

    .main-menu {
        display: flex;
        flex: 1 1 auto;
        flex-direction: row;
        justify-content: end;
    }


    .open {
        display: flex;
    }


    .main-menu > .menu-item {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        border: 1px outset #333;
        border-radius: 10px;        
    }

    .title > .menu-item {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        flex: 0 0 auto;
        font-size: 1.1em;
        font-weight: bold;
        border-style: none;
        margin-right: 40px;
    }l-survey {
        flex-direction: row;
        flex: 1 1 auto;
    }

    .nav, .sidebar {
    min-width: 10em;
    }

    .content {
        flex-direction: column;
        flex: 1 1 80%;
    }

    .panel-survey {
        flex-direction: row;
        flex: 1 1 auto;
    }

}