@import './general.css';

#toolbar-survey {
    position: relative;

}

#panel-survey {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

table > caption {
    text-align: center;
    font-size: 1.2em;
    color: black;    
}

#panel-basis {
    display: flex;
    flex-direction: row;
    width: auto;
    
}

#panel-station {
    width: auto;
    position: relative;
}

.open {
    display: flex;
}

.toggle {
    z-index: 1000;
}

.pop-up {
    display: none;
    flex-direction: column;
    min-width: 90px;
    width: auto;
    height: 150px;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 10px;
    background-color: var(--container-bg-color);
    border: 2px outset #bab6b7;
}

.menu-import {
    display: none;
    flex-direction: column;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 5px;
    background-color: var(--container-bg-color);
    border: 2px outset #bab6b7;
}

.menu-import .menu-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.station-row {
    display: flex;
    flex-direction: row;
}

.station-row :first-child {
    flex: 1 1 auto;
    margin: 2px;
}

.station-row :last-child {
    flex: 0 0 none;
    margin: 2px;
}

.table-station {
    margin: 5px;
    border-collapse: separate;
    border-spacing: 3px;
    width: auto;     
}

#panel-measurements {
    display: flex;
    flex-direction: column;
}

#panel-stations {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#scrollpanel-stations {
    height: 25vh;
    flex: 1 1 auto;
    overflow: auto;
}

/* .list-stations {
    list-style: none;
} */

.list-stations a {
    display: block;
    width: auto;
    padding: 5px;
    text-decoration: none;
}

#scrollpanel-measurements {
    height: 40em;
    flex: 1 1 auto;
    overflow: auto;
}

.table-measurements input {
    width: 8em;
}

.menu-item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.survey-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    height: 30px;
    margin: 2px;
    border: 2px outset #bab6b7;
}

.survey-button {
    height: 20px;
    width: 20px;
    border: 1px outset #bab6b7;
    margin-left: 5px;
}

.survey-button:hover {
    /* height: 30px;
    width: 30px; */
    border: 1px inset red;
}

.survey-toolbar-separator {
    height: 20px;
    width: 20px;
}

.survey-button.new {
    background-image: url(/images/new.png);
}

.survey-button.open {
    position: relative;
    background-image: url(/images/open.png);
}

#toolbar-survey input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0.0;
    overflow: hidden;
    position: absolute;
    z-index: -1;    
}

.survey-button.import {
    background-image: url(/images/import.png);
    z-index: 1002;
}

.survey-button.save {
    background-image: url(/images/save.png);
}

.survey-button.view {
    background-image: url(/images/view.png);
}

.survey-button.run {
    background-image: url(/images/run.png);
}

.survey-button.catalog {
    background-image: url(/images/database.png);
}

.survey-button.delete {
    background-image: url(/images/delete_row.png);
}

.survey-button.insert-before {
    background-image: url(/images/insert_row.png);
}

.survey-button.insert-after {
    background-image: url(/images/insert_row_after.png);
}

.survey-button.change-distance {
    background-image: url(/images/change_distance.png);
}

.survey-button.change-direction {
    background-image: url(/images/change_direction.png);
}

.survey-button.change-tilt {
    background-image: url(/images/change_tilt.png);
}

@media screen and (min-width: 768px) {

    #panel-survey {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
    }

    #panel-basis {
        display: flex;
        flex-direction: row;
        width: 40%;
        flex: 0 0 auto;
        overflow: auto;
    }

    #panel-station {
        width: auto;
    }

    #panel-stations {
        display: flex;
        width: auto;
        flex: 1 1 auto;
    }

    #scrollpanel-stations {
    height: 25vh;
    flex: 1 1 auto;
    overflow: auto;
    }

    #panel-measurements {
        display: flex;
        height: 90%;
        width: auto;
        flex: 0 0 auto;
        overflow: auto;
    }

    #scrollpanel-measurements {
    height: 60em;
    flex: 1 1 auto;
    overflow: auto;
    }

}