@import './general.css';

#toolbar-survey {
    position: relative;

}

#panel-survey {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
}

/* table > caption {
    text-align: center;
    font-size: 1.2em;
    color: black;    
} */

#panel-basis {
    display: flex;
    flex-direction: row;
    width: auto;
    
}

#panel-station {
    width: auto;
    position: relative;
}

#panel-station a {
    display: block;
    text-decoration: none;
}

@keyframes show-panel-info {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* #list-base-point {
    border-radius: 10px;
    animation: show-panel-info 200ms;
} */

#survey-panel-info {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: 15em;
    z-index: 1002;
    border-radius: 10px;
    box-shadow: 10px 4px 10px 3px #3e5283;
    animation: show-panel-info 500ms;

}

#survey-panel-info button {
    align-self: center;
    width: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

#survey-info-message {
    padding: 10px;
    align-self: center;
    font-size: 1.2em;
}

.menu-import {
    display: none;
    flex-direction: column;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 5px;
    background-color: var(--container-bg-color);
    border: 2px outset #bab6b7;

}

.menu-import .menu-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.station-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.station-row :first-child {
    flex: 1 1 auto;
    margin: 2px;
    padding: 2px;
}

.station-row :last-child {
    flex: 0 0 none;
    margin: 2px;
}

.table-station {
    margin: 5px;
    border-collapse: separate;
    border-spacing: 3px;
    width: auto;     
}

#panel-measurements {
    display: flex;
    flex-direction: column;
    width: auto;
    overflow: auto;
    /* justify-content: safe center; */
}

#panel-measurements :last-child {
    align-self: safe center;
}

/* #toolbar-survey-measurements {
    flex: 1 1 auto;
} */


#panel-stations {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#scrollpanel-stations {
    height: 20vh;
    flex: 1 1 auto;
    overflow: auto;
}

/* .list-stations {
    list-style: none;
} */

.list-stations a {
    display: block;
    width: auto;
    padding: 5px;
    text-decoration: none;
}

#scrollpanel-measurements {
    height: 40em;
    flex: 0 0 auto;
    /* justify-content: safe center; */
    overflow: auto;
}

.table-measurements {
    flex: 0 0 auto;
    border: 2px outset #bab6b7;
}

.table-measurements th {
    font-weight: 400;
    /* font-size: 0.9em; */
}

.table-measurements input {
    width: auto;
}

.menu-item:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.survey-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    width: auto;
    height: 40px;
    margin: 2px;
    border: 2px outset #bab6b7;
}

.survey-toolbar a {
    display: block;
    text-decoration: none;
}


.survey-button {
    height: 30px;
    width: 30px;
    border: 2px outset #bab6b7;
    border-radius: 10px;
    margin-left: 4px;
    margin-right: 4px;
    background-size: contain;
    opacity: 0.7;
    box-shadow: 0px 0px 0px 0px #3e5283;    
    /* transition-property: height, width, opasity, margin-right, box-shadow; */
    /* transition-duration: 100ms; */
}

@keyframes button-focus {
    from {
        height: 30px;
        width: 30px;
        margin-left: 4px;
        margin-right: 4px;
        opacity: 0.7;
        box-shadow: 0px 0px 0px 0px #3e5283;    

    }
    to {
        height: 34px;
        width: 34px;
        margin-left: 2px;
        margin-right: 2px;
        opacity: 1.0;
        box-shadow: 2px 2px 2px 0px #3e5283;
    }
    
}

.survey-button:hover {
    animation: button-focus 100ms forwards;
}

.survey-toolbar-separator {
    height: 20px;
    width: 20px;
}

.survey-button.new {
    background-image: url(/images/new.png);
}

.survey-button.open {
    position: relative;
    background-image: url(/images/open.png);
}

#toolbar-survey input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0.0;
    overflow: hidden;
    position: absolute;
    z-index: -1;    
}

.survey-button.import {
    background-image: url(/images/import.png);
    /* z-index: 1000; */
}

.survey-button.save {
    background-image: url(/images/save.png);
}

.survey-button.view {
    background-image: url(/images/view.png);
}

.survey-button.run {
    background-image: url(/images/run.png);
}

.survey-button.catalog {
    background-image: url(/images/database.png);
}

.survey-button.delete {
    background-image: url(/images/delete_row.png);
}

.survey-button.insert-before {
    background-image: url(/images/insert_row.png);
}

.survey-button.insert-after {
    background-image: url(/images/insert_row_after.png);
}

.survey-button.extract {
    background-image: url(/images/change_distance.png);
}

.survey-button.change-direction {
    background-image: url(/images/change_direction.png);
}

.survey-button.change-tilt {
    background-image: url(/images/change_tilt.png);
}

@media screen and (min-width: 768px) {

    #panel-survey {
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        /* justify-content: safe space-around; */
    }

    #panel-basis {
        display: flex;
        flex-direction: row;
        width: 45%;
        flex: 0 0 auto;
        overflow: auto;
    }

    #panel-station {
        width: auto;
    }

    #panel-stations {
        display: flex;
        width: 40%;
        flex: 0 0 auto;
    }

    #scrollpanel-stations {
    height: 25vh;
    flex: 1 1 auto;
    overflow: auto;
    }

    #panel-measurements {
        display: flex;
        height: 90%;
        width: auto;
        flex: 0 0 auto;
        overflow: auto;
    }

    /* #panel-measurements :last-child {
        align-self: safe center;
    } */
    

    #scrollpanel-measurements {
    height: 60em;
    flex: 1 1 auto;
    overflow: auto;
    }

}