<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Geodetic Direct Problem</title>
</head>
<body>
<h3>Прямая геодезическая задача</h3>
<p>Определение координат пункта по линейно-угловым измерениям с пункта и ориентира с известными координатами. </p>
<br>
<form>
  <b>Координаты ориентира</b><br><br>
  X, м.  <input type="text" name="landmarkX" th:value="${request.landmarkX}"><br>
  Y, м.  <input type="text" name="landmarkY" th:value="${request.landmarkY}"><br>
  <br>
  Угловое направление на ориентир, г.ммсс<br>
  <input type="text" name="landmarkDirection" th:value="${request.landmarkDirection}"><br>
  <br>
  <b>Координаты базы</b>
  <br><br>
  X, м.  <input type="text" name="baseX" th:value="${request.baseX}"><br>
  Y, м.  <input type="text" name="baseY" th:value="${request.baseY}"><br>
  Z, м.  <input type="text" name="baseZ" th:value="${request.baseZ}"><br>
  <br>
  Высота инструмента над базовой точкой, м.<br>
  <input type="text" name="baseHeight" th:value="${request.baseHeight}"><br>
  <br>
  <br>
  <b>Измерения на определяемую точку</b>
  <br><br>
  Угловое направление на цель, г.ммсс<br>
  <input type="text" name="targetDirection" th:value="${request.targetDirection}"><br>
  Наклонное расстояние до цели, м.<br>
  <input type="text" name="targetInclinedDistance" th:value="${request.targetInclinedDistance}"><br>
  Угол наклона на цель, г.ммсс<br>
  <input type="text" name="targetTiltAngle" th:value="${request.targetTiltAngle}"><br>
  Высота цели над определяемой точкой, м.<br>
  <input type="text" name="targetHeight" th:value="${request.targetHeight}"><br>
  <br>
  <br>
  <b>Координаты определяемой точки</b>
  <br><br>
  X, м.  <input type="text" name="targetX" th:value="${response.targetX}"><br>
  Y, м.  <input type="text" name="targetY" th:value="${response.targetY}"><br>
  Z, м.  <input type="text" name="targetZ" th:value="${response.targetZ}"><br>
  <br>
  <br>
  <input type="submit" value="Обработать">

</form>

</body>
</html>