<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Geodetic Potenot Problem</title>
</head>
<body>
<h3>Обратная геодезическая засечка. Задача Потенота.</h3>
<p>Определение координат пункта по измеренным угловым направлениям на три пункта с известными координатами</p>
<form>
  <b>Координаты исходных пунктов </b><br>
  <ul>
    <li th:each="item: ${request}">
      X: <input type="text" name="pointX" value="0.000" th:value="${item.pointX}">
      Y: <input type="text" name="pointY" value="0.000" th:value="${item.pointY}">
      Direction: <input type="text" name="direction" value="0.0000" th:value="${item.direction}">
    </li>
  </ul>
  <b>Результаты обработки</b>
  <br><br>
  X = <span th:text="${response.pointX}">0.000</span> м.<br>
  <br>
  Y = <span th:text="${response.pointY}">0.000</span> м.<br>
  <br>
  <br>
  <input type="submit" value="Обработать">

</form>
</body>
</html>